.Flow{
    
}

.Flow .Card{
    
}

.Flow .CardTitle {
    display: flex;
    height: 44px;
}

.Flow .TitleHeader{
    background-color: rgba(119, 11, 214, 0.15);
    display: flex;
}

.Flow .icon {
    background-color: rgb(119, 11, 214);
}

.Flow .title {
    background-color: rgba(119, 11, 214, 0.15);
}

.Flow .CardButtons{
    background-color: transparent;
}

.Flow .CardOptions{
   

}

