.App {

    overflow-y: hidden;
}

.home_content{
    position: absolute;
    height: 100%;
    width:calc(100% - 240px);
    left:240px
}

.home_content .text {

    font-size: 25px;
    font-weight: 500;
    color: #21262d;
    margin-top:12px
}



/* .infopanel {

    border-top: solid 1px #bfbfbf;
    width: 100px;
    height: 100vh;
    background: white;
    order: 2;
}

.jsonPanel {
    width: 100px;
    height: 100vh;
    background: light gray;
}

.info-container {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0;
    padding-right: 0px !important;
}
 */
