.App {

    overflow-y: hidden;
}

.navbarRE {
    position: absolute;
    height: 50px;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5 ease;

}

.sideNav.active~.navbarRE {
    width: calc(100% - 240px);
    left: 240px
}

.Panels {
    position: absolute;
    height: calc(100vh - 56px);
    width: calc(100% - 78px);
    top: 50px;
    left: 90px;
    transition: all 0.5 ease;
    margin-top: 6px;


}

.sideNav.active~.Panels {
    width: calc(100% - 240px);
    left: 252px
}

.infopanel {
    border-top: solid 1px #bfbfbf;
    height: calc(100vh - 56px);
    background: white;

}

.jsonPanel {
    border-top: solid 1px #bfbfbf;
    height: 100%;
    background: rgb(19, 18, 36);
    padding: 0px;

}

#jsonText {
    height: calc(100vh - 81px);
    overflow-x: hidden;
    overflow-y: auto !important;


}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 10px;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    text-align: center;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top;
    
}

textarea {
    border: none;
    outline: none;
    caret-color: #bfbfbf;
    background-color: hsla(1, 1%, 100%, 1);


}

*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;
    margin-left: 10px;
  }

  .Xaxis {

    color: #909093;
  }

  .Xaxis .domain {

    stroke: #909093 

  }

  .Yaxis {

    color: #909093;
  }

  .Yaxis .domain {

    stroke: #909093 

  }